.navigation-bar {background-color: lightgrey;
padding-top:2%;
padding-bottom:2%}
body {background-color: azure;
    font-family:sans-serif;
font-size:medium;
justify-content: center;
text-align: center;}
.fafa-starchecked {color: orange}

